<h1>Welcome to Amazon Nurul</h1>
<center>
  <%= form_for @user do |f| %>
  <div>
    Name: <%= f.text_field :name %>
  </div>
  <div>
    Email: <%= f.text_field :email %>
  </div>
  <div>
    Number: <%= f.text_field :ph_no %>
  </div>
  <div>
    Address: <%= f.text_field :address %>
  </div>
  <%= f.submit "Click me!!" %>
  <div>
    <%= link_to "Back", users_path %>
  </div>
<% end %>
</center>
