
<h3>You are now seeing users data</h3>

<strong>Name :</strong><%= @user.name %><br>
<strong>Email : </strong><%= @user.email %><br>
<strong>Cotact numer : </strong><%= @user.ph_no %><br>
<strong>Address :</strong><%= @user.address %><br>
<%= link_to "Back", users_path %>


