<h3>You are now seeing users data</h3>

<center>
  <strong>Name :</strong><%= @user.name %><br>
  <strong>Email : </strong><%= @user.email %><br>
  <strong>Number : </strong><%= @user.ph_no %><br>
  <strong>Address :</strong><%= @user.address %><br>
  <%= link_to "Back", users_path %>
</center>



