<h1>Product#new</h1>
<p>Find me in app/views/product/new.html.erb</p>


<h3>Please enter your product details</h3>

<%= form_for @products do |p| %>
  <div>
    product Name: <%= p.text_field :pr_name %>
  </div>
  <div>
    product Category: <%= p.text_field :pr_category %>
  </div>
  <div>
    Product Price: <%= p.text_field :pr_price %>
  </div>
  <div>
    Product Details: <%= p.text_field :pr_details %>
  </div>
  <%= p.submit "Submit Product!!" %>
  <div>
    <%= link_to "Back", product_path %>
  </div>
<% end %>
