<h3>You are now seeing products Data</h3>

<strong>Product Name :</strong><%= @product.pr_name %><br>
<strong>Product Category : </strong><%= @product.pr_category %><br>
<strong>Product price : </strong><%= @product.pr_price %><br>
<strong>Product Details :</strong><%= @product.pr_details %><br>
<%= link_to "Back", products_path %>
