<h3>You are now seeing suppliers data</h3>

<center>
  <strong>Name :</strong><%= @supplier.sup_name %><br>
  <strong>Email : </strong><%= @supplier.sup_email %><br>
  <strong>Number : </strong><%= @supplier.sup_phone %><br>
  <strong>Address :</strong><%= @supplier.address %><br>
  <%= link_to "Back", suppliers_path %>
</center>



